  .container {
    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
  }

  .card {
    margin-top: 20%;
    background-color: #FFF;
    width: 80%;
    height: 100%;
    padding: 5%;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* loader */
  .loader {
    margin: 100% auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* Responsive */
@media( min-width: 600px ) {
  .container {
    width: 900px;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #FFF;
    width: 70%;
    padding: 5%;
    margin-bottom: -10%;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card .gambar {
  margin-right: 5%;
  }

  /* buttons */
  .btn {
    display: flex;
    justify-content: space-between;
  }
  .btn-buy {
    width: 48%;
    color: white;
    border: 0;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
  }
  .btn-next-man {
    width: 48%;
    border: 1px solid blue;
    color: blue;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-next-woman {
    width: 48%;
    border: 1px solid #720060;
    color: #720060;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-next-404 {
    width: 50%;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
  }

  /* loader */
  .loader {
      margin: 100px;

      display: flex;
      justify-content: center;
      align-items: center;
   }
}